<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            log-config-on-start = off        
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
						}
						
						remote {
							helios.tcp {
								transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								//hostname = localhost
								//port = 8080
							}
						}            
						
						cluster {
							//seed-nodes = ["akka.tcp://SF@localhost:8080"] 
							roles = []
							auto-down-unreachable-after = 10s
						}
					}
			]]>
    </hocon>
  </akka>
</configuration>